check.py
test.py
test.txt
results
models/CPN/*
models/DRN/*
models/kimsan_TSG/*
models/VideoX/*
models/VSLNet
models/LGI/*
models/MESM/__pycache__
models/MESM/data/*
models/MESM/images/*
models/MESM/trained_results/*
models/MESM/visualization/*
data/__pycache__
data/charades.json
data/charades/features/*
data/charades/images/*
data/charades/LGI_preprocess/*
data/charades/raw_videos/*
data/charades/i3d_spatial_1fps.hdf5
data/charades/i3d_spatial_2fps.hdf5
data/charades/rgb_charades.pt
data/charades/rgb_imagenet.pt